*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body{
    height: 100px;
}
#search-form{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:100px;

}
#temp{
    text-align: center;
    margin: auto;
}
#temp #temp-unit{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 2.5rem;
color:black;
align-items: center;
}
#climate{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    color:black;
    text-align:center;

}
#location{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    text-align:center;
    color: black;
}

#temp-icon{
    margin: 1rem;
    width: 40%;
    height: auto;
}

#temp-value{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    text-align:center;
    color: black; 
}
main{
    padding: 20px;
    margin-top:10px;
   /* background-color: rgb(12, 12, 247); */
    border-radius: 19%;
    width: 460px;
    height:460px;
    display: block;
    margin-right: auto;
    margin-left: auto;
} 

#search-input{
    background-color: transparent;
    color: black;
   
}